@font-face {
  font-family: Augestina;
  src: url(../assets/fonts/Agustina.otf);
}

#nav-title {
  font-family: Augestina;
  text-transform: capitalize;
  font-style: bold;
}

.lead {
  text-align: justify;
}

div {
  text-align: justify;
}
